* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.header-contact-container {
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #f4f4f4;
}
.header-contact-container span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 33px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #aaaaaa;
}
.header-contact-container span:nth-child(2) {
  margin: 0 25px 0 25px;
}
.header-contact-container span:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 33px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header-contact-container span:nth-child(3):hover {
  color: #6d6d6d;
}

.header-container {
  width: 100%;
  height: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header-container .bx-x {
  display: none;
}
.header-container .container {
  width: 90%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 48px 0 30px;
}
.header-container .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-container .container nav ul li {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 100px;
  cursor: pointer;
  position: relative;
}
.header-container .container nav ul li::before {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: black;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header-container .container nav ul li:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.header-container .container .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.header-container .container .map img {
  margin-right: 11px;
}
.header-container .container .map span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}
.header-container .container .map .map-img-animation {
  position: relative;
  -webkit-animation: map-img-animation 0.7s infinite;
          animation: map-img-animation 0.7s infinite;
}
@-webkit-keyframes map-img-animation {
  0% {
    bottom: -2px;
  }
  50% {
    bottom: 4px;
  }
  100% {
    bottom: -2px;
  }
}
@keyframes map-img-animation {
  0% {
    bottom: -2px;
  }
  50% {
    bottom: 4px;
  }
  100% {
    bottom: -2px;
  }
}
.header-container .cart-img {
  position: absolute;
  top: 50%;
  right: 2.2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.logo {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
}
.logo img {
  position: absolute;
}
.logo .img-r {
  top: 0%;
  left: 0%;
}
.logo .letter1-a {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: letter1-a 1.5s;
          animation: letter1-a 1.5s;
}
@-webkit-keyframes letter1-a {
  0% {
    top: 0%;
    left: 0%;
  }
  50% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    left: 0%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@keyframes letter1-a {
  0% {
    top: 0%;
    left: 0%;
  }
  50% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    left: 0%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.logo .letter1-a1 {
  top: 0%;
  -webkit-animation: letter1-a1 1.5s;
          animation: letter1-a1 1.5s;
}
@-webkit-keyframes letter1-a1 {
  0% {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 0%;
    left: 0%;
  }
}
@keyframes letter1-a1 {
  0% {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 0%;
    left: 0%;
  }
}
.logo .img-O {
  top: 0%;
  right: 0%;
}
.logo .letter2-a {
  top: 50%;
  right: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: letter2-a 1.5s;
          animation: letter2-a 1.5s;
}
@-webkit-keyframes letter2-a {
  0% {
    top: 0%;
    right: 0%;
  }
  50% {
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  100% {
    right: 45%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@keyframes letter2-a {
  0% {
    top: 0%;
    right: 0%;
  }
  50% {
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  100% {
    right: 45%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.logo .letter2-a1 {
  top: 0%;
  right: 0%;
  -webkit-animation: letter2-a1 1.5s;
          animation: letter2-a1 1.5s;
}
@-webkit-keyframes letter2-a1 {
  0% {
    right: 45%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  100% {
    right: 0%;
    top: 0%;
  }
}
@keyframes letter2-a1 {
  0% {
    right: 45%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  100% {
    right: 0%;
    top: 0%;
  }
}
.logo .img-O2 {
  bottom: 0%;
  left: 0%;
}
.logo .letter3-a {
  bottom: 50%;
  left: 57%;
  -webkit-transform: translateY(47%);
          transform: translateY(47%);
  -webkit-animation: letter3-a 1.5s;
          animation: letter3-a 1.5s;
}
@-webkit-keyframes letter3-a {
  0% {
    bottom: 0%;
    left: 0%;
  }
  50% {
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
  100% {
    left: 57%;
    bottom: 50%;
    -webkit-transform: translateY(47%);
            transform: translateY(47%);
  }
}
@keyframes letter3-a {
  0% {
    bottom: 0%;
    left: 0%;
  }
  50% {
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
  100% {
    left: 57%;
    bottom: 50%;
    -webkit-transform: translateY(47%);
            transform: translateY(47%);
  }
}
.logo .letter3-a1 {
  bottom: 0%;
  left: 0%;
  -webkit-animation: letter3-a1 1.5s;
          animation: letter3-a1 1.5s;
}
@-webkit-keyframes letter3-a1 {
  0% {
    left: 57%;
    bottom: 50%;
    -webkit-transform: translateY(47%);
            transform: translateY(47%);
  }
  50% {
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
  100% {
    bottom: 0%;
    left: 0%;
  }
}
@keyframes letter3-a1 {
  0% {
    left: 57%;
    bottom: 50%;
    -webkit-transform: translateY(47%);
            transform: translateY(47%);
  }
  50% {
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
  100% {
    bottom: 0%;
    left: 0%;
  }
}
.logo .img-M {
  bottom: 0%;
  right: 0%;
}
.logo .letter4-a {
  bottom: 50%;
  right: -20%;
  -webkit-transform: translateY(47%);
          transform: translateY(47%);
  -webkit-animation: letter4-a 1.5s;
          animation: letter4-a 1.5s;
}
@-webkit-keyframes letter4-a {
  0% {
    bottom: 0%;
    right: 0%;
  }
  50% {
    bottom: 50%;
    right: 50%;
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
  100% {
    right: -20%;
    bottom: 50%;
    -webkit-transform: translateY(47%);
            transform: translateY(47%);
  }
}
@keyframes letter4-a {
  0% {
    bottom: 0%;
    right: 0%;
  }
  50% {
    bottom: 50%;
    right: 50%;
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
  100% {
    right: -20%;
    bottom: 50%;
    -webkit-transform: translateY(47%);
            transform: translateY(47%);
  }
}
.logo .letter4-a1 {
  bottom: 0%;
  right: 0%;
  -webkit-animation: letter4-a1 1.5s;
          animation: letter4-a1 1.5s;
}
@-webkit-keyframes letter4-a1 {
  0% {
    right: -20%;
    bottom: 50%;
    -webkit-transform: translateY(47%);
            transform: translateY(47%);
  }
  50% {
    bottom: 50%;
    right: 50%;
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
  100% {
    bottom: 0%;
    right: 0%;
  }
}
@keyframes letter4-a1 {
  0% {
    right: -20%;
    bottom: 50%;
    -webkit-transform: translateY(47%);
            transform: translateY(47%);
  }
  50% {
    bottom: 50%;
    right: 50%;
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
  100% {
    bottom: 0%;
    right: 0%;
  }
}

@media screen and (max-width: 1024px) {
  .header-contact-container {
    display: none;
  }

  .header-container {
    position: fixed;
    top: -200%;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #ffffffb5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
  .header-container .bx-x {
    display: block;
    cursor: pointer;
    position: absolute;
    bottom: 4%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    color: black;
    font-size: 25px;
  }
  .header-container .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-container .container nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 70% 0;
  }
  .header-container .container nav ul li {
    margin: 20% 0;
    font-size: 25px;
  }
  .header-container .cart-img {
    top: 4%;
    right: 4%;
  }
}
.header-active {
  top: 0%;
}

#start-page {
  padding-top: 48px;
}
#start-page .start-page-bg {
  background: url(../img/start-page/start-page-bg.png);
  background-size: 100% 100%;
  width: 92.3%;
  height: 746px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  #start-page {
    height: 100vh !important;
    height: calc(var(--vh, 1vh) * 100);
    padding-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #start-page .start-page-bg {
    margin: 0;
    position: relative;
    height: 90%;
  }
  #start-page .start-page-bg .bx-menu {
    position: absolute;
    top: 2%;
    left: 2%;
    color: black;
    font-size: 30px;
    cursor: pointer;
  }
}
#about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#about .container {
  margin-top: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#about .container h2 {
  line-height: 58px;
  width: 27.4%;
  margin-right: 10.5%;
}
#about .container p {
  font-size: 24px;
  max-width: 569px;
  line-height: 40px;
}

@media screen and (max-width: 1024px) {
  #about .container {
    margin-top: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .container h2 {
    width: 100%;
    text-align: center;
    margin: 0 0 2% 0;
  }
  #about .container p {
    max-width: 100%;
    text-align: center;
  }
}
#gallery .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 208px;
  width: 1296px;
}
#gallery .container .gallery-block-img .g-img {
  width: 588px;
  height: 412px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
#gallery .container .gallery-block-img .g-img:hover {
  background-size: 120% 120%;
}
#gallery .container .gallery-block-img span {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #1A1A1A;
  margin: 9px 0 32px 0;
}

.gallery-img1 {
  background: url(../img/gallery/g1.png);
  background-size: 100% 100%;
  background-position: 50% 50%;
  margin-right: 24px;
}

.gallery-img2 {
  background: url(../img/gallery/g2.png);
  background-size: 100% 100%;
  background-position: 50% 50%;
}

.gallery-img3 {
  background: url(../img/gallery/g3.png);
  background-size: 100% 100%;
  background-position: 50% 50%;
  margin-right: 24px;
}

.gallery-img4 {
  background: url(../img/gallery/g4.png);
  background-size: 100% 100%;
  background-position: 50% 50%;
}

@media screen and (max-width: 1024px) {
  #gallery .container {
    margin-top: 9%;
  }

  .gallery-img1, .gallery-img3 {
    margin-right: 0px;
  }
}
#brands {
  margin-top: 212px;
}
#brands h2 {
  text-align: center;
  line-height: 48px;
}
#brands p {
  text-align: center;
  line-height: 36px;
  margin: 27px 0 125px 0;
}
#brands .container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#brands .container .brands-img-block {
  width: calc(100%/6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 49px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#brands .container .brands-img-block:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  #brands {
    margin-top: 10%;
  }
  #brands p {
    margin: 3% 0 8% 0;
  }
  #brands .container .brands-img-block {
    margin-bottom: 3%;
  }
  #brands .container .brands-img-block img {
    width: 80%;
  }
}
#sliderOne {
  margin-top: 120px;
}
#sliderOne .slider {
  position: relative;
}
#sliderOne .slider .slider__item {
  width: 100%;
  height: 100%;
}
#sliderOne .slider .slider__item img {
  width: 100%;
  height: 700px;
}
#sliderOne .slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 23px;
  height: 42px;
}
#sliderOne .slider .slick-arrow.slick-prev {
  background: url(../img/sliderOne/left.svg) no-repeat;
  background-position: center;
  left: 7.5%;
}
#sliderOne .slider .slick-arrow.slick-next {
  background: url(../img/sliderOne/right.svg) no-repeat;
  background-position: center;
  right: 7.5%;
}
#sliderOne .slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
}
#sliderOne .slider .slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background: #E5E5E5;
  border-radius: 6px;
  margin: 0 12px;
}
#sliderOne .slider .slick-dots li.slick-active button {
  background-color: #46856E;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slick-list {
  overflow: hidden;
  padding: 0px 48px;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1024px) {
  #sliderOne {
    margin-top: 12%;
  }
  #sliderOne .slider .slider__item img {
    height: 500px;
  }
}
#slideTwo {
  margin-top: 224px;
}
#slideTwo .sliderTwo {
  position: relative;
}
#slideTwo .sliderTwo .slider__item {
  width: 100%;
  height: 100%;
}
#slideTwo .sliderTwo .slider__item img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  #slideTwo {
    margin-top: 10%;
  }
  #slideTwo .sliderTwo .slider__item img {
    height: 500px;
  }
}
#products {
  width: 74.8%;
  margin: 0 auto;
  margin-top: 83px;
}
#products h2 {
  line-height: 56px;
  height: auto;
  width: auto;
}
#products .t1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #46856e;
  margin-top: 24px;
  display: block;
  cursor: pointer;
}
#products .container {
  width: 100%;
  margin: 71px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#products .container .products-content-block {
  width: calc(100% / 3);
  margin: 0 2%;
}
#products .container .products-content-block .products-content-block-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#products .container .products-content-block .products-content-block-text {
  margin-top: 34px;
}
#products .container .products-content-block .products-content-block-text span {
  line-height: 24px;
  margin-bottom: 18px;
  display: block;
}
#products .container .products-content-block .products-content-block-text p {
  font-size: 16px;
  line-height: 24px;
}

@media screen and (max-width: 1024px) {
  #products .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #products .container .products-content-block {
    width: 45%;
    margin: 2%;
  }
  #products .container .products-content-block .products-content-block-text span, #products .container .products-content-block .products-content-block-text p {
    text-align: center;
  }
}
#review {
  margin-top: 237px;
}
#review .review-bg {
  width: 93.1%;
  height: 800px;
  background: url(../img/review/review-bg.png);
  background-size: 100% 100%;
  margin: 0 auto;
  padding-top: 120px;
}
#review .review-bg .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0 0 13.8%;
}
#review .review-bg .container .review-block {
  margin-bottom: 40px;
}
#review .review-bg .container .review-block div,
#review .review-bg .container .review-block .r-img {
  margin-left: 0.5%;
}
#review .review-bg .container .review-block p {
  max-width: 22%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  margin: 14px 0 8px 0;
}
#review .review-bg .container span {
  margin-top: 6px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  #review {
    margin-top: 10%;
  }
  #review .review-bg {
    height: 600px;
    padding: 8% 6%;
  }
  #review .review-bg .container {
    margin: 0;
  }
  #review .review-bg .container .review-block {
    margin-bottom: 4%;
  }
  #review .review-bg .container .review-block div img {
    width: 3%;
  }
  #review .review-bg .container .review-block p {
    max-width: 40%;
    line-height: 25px;
    font-size: 20px;
  }
  #review .review-bg .container .review-block img {
    width: 15%;
  }
  #review .review-bg .container span {
    margin-top: 2%;
  }
}
#text {
  margin-top: 240px;
}
#text .container {
  max-width: 61.3%;
}
#text .text-s {
  font-size: 46px;
  line-height: 52px;
}
#text span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 52px;
  color: #000000;
  display: block;
  margin-top: 25px;
}

@media screen and (max-width: 1024px) {
  #text {
    margin-top: 10%;
  }
  #text .text-s {
    font-size: 35px;
    line-height: 45px;
  }
  #text span {
    font-size: 35px;
    margin-top: 2%;
  }
}
#about-us {
  margin-top: 135px;
}
#about-us .container {
  width: 83.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 64px;
}
#about-us .container img {
  width: 55.9%;
}
#about-us .container .about-us-text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25.5%;
  margin: 0 auto;
  max-height: 300px;
}
#about-us .container .about-us-text-block span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  color: #1a1a1a;
}
#about-us .container .about-us-text-block p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 27px;
}

@media screen and (max-width: 1024px) {
  #about-us {
    margin-top: 10%;
  }
  #about-us .container .about-us-text-block {
    width: 100%;
    padding: 2%;
  }
  #about-us .container .about-us-text-block p {
    margin-top: 4%;
  }
}
@media screen and (max-width: 900px) {
  #about-us {
    display: none;
  }
}
#free-trial {
  width: 83.3%;
  margin: 286px auto 0px;
  background: #F2F2F2;
  border-radius: 2px;
  padding: 63px 0 24px 0;
}
#free-trial .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#free-trial .container span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 51px;
  text-align: center;
  color: #000000;
  display: block;
}
#free-trial .container .free-trial-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 67px auto 0px;
  width: 52.4%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#free-trial .container .free-trial-content .free-trial-block {
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#free-trial .container .free-trial-content .free-trial-block span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #1A1A1A;
}
#free-trial .container button {
  width: 146px;
  height: 50px;
  margin: 70px 0 22px 0;
  background: #46856E;
  border-radius: 2px;
  font-family: Roboto;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#free-trial .container button:hover {
  background: #25463a;
}
#free-trial .container p {
  font-size: 12px;
  line-height: 14px;
}

@media screen and (max-width: 1024px) {
  #free-trial {
    margin: 10% auto;
    padding: 6% 0 3%;
  }
  #free-trial .container span {
    font-size: 40px;
  }
  #free-trial .container .free-trial-content {
    width: 70%;
    margin: 8% auto 0;
  }
  #free-trial .container button {
    margin: 8% 0 4%;
  }
}
#footer {
  margin-top: 79px;
  padding: 8% 6%;
  background: #2B2B2B;
  -webkit-box-shadow: 0px 400px 0px #2B2B2B;
          box-shadow: 0px 400px 0px #2B2B2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}
#footer img {
  width: 87px;
  height: 87px;
}
#footer .footer-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#footer .footer-links-container ul {
  margin-right: 12%;
}
#footer .footer-links-container ul li {
  color: white;
}
#footer .footer-links-container ul li:nth-child(1) {
  margin-bottom: 19px;
}
#footer .footer-links-container ul li:nth-child(2) {
  max-width: 125px;
}
#footer .footer-socLink span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  display: block;
  margin-bottom: 17px;
}
#footer .footer-socLink div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#footer .footer-socLink div img {
  width: 20px;
  height: 20px;
  margin-right: 13px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#footer .footer-socLink div img:nth-child(4) {
  margin-right: 0;
}
#footer .footer-socLink div img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body {
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 90%;
}

.h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  color: #1A1A1A;
}

.h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #1A1A1A;
}

.text-s {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #AAAAAA;
}

@media screen and (max-width: 1024px) {
  .h2 {
    font-size: 40px;
  }
}