#brands {
    margin-top: 212px;
    h2 {
        text-align: center;
        line-height: 48px;
    }
    p {
        text-align: center;
        line-height: 36px;
        margin: 27px 0 125px 0;
    }
    .container {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        .brands-img-block {
            width: calc(100%/6);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 49px;
            transition: 0.5s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@media screen and (max-width: 900px){
    #brands{
        margin-top: 10%;
        p{
            margin: 3% 0 8% 0;
        }
        .container {
            .brands-img-block {
                margin-bottom: 3%;
                img{
                    width: 80%;
                }
            }
        }
    }
}