#products {
  width: 74.8%;
  margin: 0 auto;
  margin-top: 83px;
  h2 {
    line-height: 56px;
    height: auto;
    width: auto;
  }
  .t1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #46856e;
    margin-top: 24px;
    display: block;
    cursor: pointer;
  }
  .container {
    width: 100%;
    margin: 71px auto;
    display: flex;
    justify-content: space-between;
    .products-content-block {
      width: calc(100% / 3);
      margin: 0 2%;
      .products-content-block-img {
        display: flex;
        justify-content: center;
      }
      .products-content-block-text {
        margin-top: 34px;
        span {
          line-height: 24px;
          margin-bottom: 18px;
          display: block;
        }
        p {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
    #products {
        .container{
            flex-wrap: wrap;
            .products-content-block {
                width: 45%;
                margin: 2%;
                .products-content-block-text{
                    span, p {
                        text-align: center;
                    }
                }
            }
        }
    }
}
