#products {
    width: 74.8%;
    margin: 0 auto;
    margin-top: 83px;
    h2 {
        line-height: 56px;
        height: auto;
        width: auto;
    }
    .t1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 12px;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        color: #46856E;
        margin-top: 24px;
        display: block;
        cursor: pointer;
    }
    .container {
        max-width: 100%;
        margin: 71px 0px;
        display: flex;
        justify-content: space-between;
        .products-content-block {
            width: 29.3%;
            .products-content-block-img {
                display: flex;
                justify-content: center;
            }
            .products-content-block-text {
                margin-top: 34px;
                span {
                    line-height: 24px;
                    margin-bottom: 18px;
                    display: block;
                }
                p {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}