#review {
    margin-top: 237px;
    .review-bg {
        width: 93.1%;
        height: 800px;
        background: url(../img/review/review-bg.png);
        background-size: 100% 100%;
        margin: 0 auto;
        padding-top: 120px;
        .container {
            display: flex;
            flex-direction: column;
            margin: 0px 0 0 13.8%;
            .review-block {
                margin-bottom: 40px;
                div,
                .r-img {
                    margin-left: 0.5%;
                }
                p {
                    max-width: 22%;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 24px;
                    line-height: 32px;
                    color: #FFFFFF;
                    margin: 14px 0 8px 0;
                }
            }
            span {
                margin-top: 6px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 12px;
                letter-spacing: 0.75px;
                text-transform: uppercase;
                color: #FFFFFF;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 1024px){
    #review{
        margin-top: 10%;
        .review-bg {
            height: 600px;
            padding: 8% 6%;
            .container{
                margin: 0;
                .review-block {
                    margin-bottom: 4%;
                    div{
                        img {
                            width: 3%;
                        }
                    }
                    p{
                        max-width: 40%;
                        line-height: 25px;
                        font-size: 20px;
                    }
                    img {
                        width:15%;
                    }
                }
                span {
                    margin-top: 2%;
                }
            }
        }
    }
}