#start-page {
    padding-top: 48px;
    .start-page-bg {
        background: url(../img/start-page/start-page-bg.png);
        background-size: 100% 100%;
        width: 92.3%;
        height: 746px;
        margin: auto;
    }
}