#text {
    margin-top: 240px;
    .container {
        max-width: 61.3%;
    }
    .text-s {
        font-size: 46px;
        line-height: 52px;
    }
    span {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 46px;
        line-height: 52px;
        color: #000000;
        display: block;
        margin-top: 25px;
    }
}

@media screen and (max-width: 1024px){
    #text {
        margin-top: 10%;
        .text-s {
            font-size: 35px;
            line-height: 45px;
        }
        span {
            font-size: 35px;
            margin-top: 2%;
        }
    }
}