#text {
    margin-top: 240px;
    .container {
        max-width: 61.3%;
    }
    .text-s {
        font-size: 46px;
        line-height: 52px;
    }
    span {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 46px;
        line-height: 52px;
        color: #000000;
        display: block;
        margin-top: 25px;
    }
}